<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @coment.content %>
</p>

<p>
  <strong>Article:</strong>
  <%= @coment.article_id %>
</p>

<%= link_to 'Edit', edit_coment_path(@coment) %> |
<%= link_to 'Back', coments_path %>
